<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        [% FOREACH graph IN graphs %]
        var data = google.visualization.arrayToDataTable([% graph.graph_data %]);

        var options = {
          title: '[% graph.title %]',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          isStacked: true,
          series: [% graph.format %]
        };

        var chart = new google.visualization.AreaChart(document.getElementById('[% graph.id %]'));
        chart.draw(data, options);
        [% END %]
      }
    </script>
  </head>
  <body>
    [% FOREACH graph IN graphs %]
    <div>
        <h1>[% graph.title %]</h1>
        <div id="[% graph.id %]" style="width: 900px; height: 500px;"></div>
        <table border=1>
          [% FOREACH tr IN graph.chart_data %]
          <tr>
            [% FOREACH td IN tr %]
            <td>[% td %]</td>
            [% END %]
          <tr>
          [% END %]
        </table>
    </div>
    [% END %]
  </body>
</html>
